Repository it-at-m/helm-charts, changes with the labels that .github/labeler.yml gives for each.
All labels: orga, ad2image, appswitcher-server, java-spring-boot, dave, ezldap, kf-app-eai, pentaho-carte, wjh-rechner, zammad-ldap-sync, refarch-gateway, refarch-templates, sps-sample

Apply suggestions from code review
  charts/refarch-templates/Chart.yaml
Labels: refarch-templates

Apply suggestions from code review
  charts/refarch-templates/Chart.yaml
Labels: refarch-templates

Apply suggestions from code review
  charts/refarch-templates/Chart.yaml
Labels: refarch-templates

Update charts/refarch-templates/templates/imagestream.yml
  charts/refarch-templates/templates/imagestream.yml
Labels: refarch-templates

Update charts/refarch-templates/templates/imagestream.yml
  charts/refarch-templates/templates/imagestream.yml
Labels: refarch-templates

Update imagestream.yml
  charts/refarch-templates/templates/imagestream.yml
Labels: refarch-templates

Update README.md
  charts/refarch-templates/README.md
Labels: refarch-templates

93 auto rollout for dev environment (#130)
  charts/refarch-templates/Chart.yaml
  charts/refarch-templates/README.md
  charts/refarch-templates/templates/_helpers.tpl
  charts/refarch-templates/templates/deployment.yaml
  charts/refarch-templates/templates/imagestream.yml
Labels: refarch-templates

chore(refarch-gateway): rm gc max metaspace size
  charts/refarch-gateway/values.yaml
Labels: refarch-gateway

chore(refarch-gateway): bump chart version to 1.5.1
  charts/refarch-gateway/Chart.yaml
Labels: refarch-gateway

feat(refarch-gateway): add service monitor
  charts/refarch-gateway/Chart.yaml
  charts/refarch-gateway/templates/service-monitor.yaml
  charts/refarch-gateway/values.yaml
Labels: refarch-gateway

chore(refarch-gateway): rm gc max metaspace size (#147)
  charts/refarch-gateway/Chart.yaml
  charts/refarch-gateway/values.yaml
Labels: refarch-gateway

chore(refarch-gateway): format
  charts/refarch-gateway/templates/service-monitor.yaml
Labels: refarch-gateway

feat(refarch-gateway): make interval configurable
  charts/refarch-gateway/templates/service-monitor.yaml
  charts/refarch-gateway/values.yaml
Labels: refarch-gateway

feat(refarch-gateway): make path configurable
  charts/refarch-gateway/templates/service-monitor.yaml
  charts/refarch-gateway/values.yaml
Labels: refarch-gateway

conf(refarch-gateway): disable monitor by default
  charts/refarch-gateway/values.yaml
Labels: refarch-gateway

feat(refarch-gateway): add service monitor (#148)
  charts/refarch-gateway/Chart.yaml
  charts/refarch-gateway/templates/service-monitor.yaml
  charts/refarch-gateway/values.yaml
Labels: refarch-gateway

:arrow_up: Bump gateway image to 1.6.0
  charts/refarch-gateway/Chart.yaml
Labels: refarch-gateway

:arrow_up: Bump gateway image to 1.6.0 (#149)
  charts/refarch-gateway/Chart.yaml
Labels: refarch-gateway

:arrow_up: Bump gateway image to 1.6.0
  charts/refarch-templates/Chart.yaml
  charts/refarch-templates/values-example.yaml
Labels: refarch-templates

:arrow_up: Bump gateway image to 1.6.0 (#150)
  charts/refarch-templates/Chart.yaml
  charts/refarch-templates/values-example.yaml
Labels: refarch-templates

add feedback
  charts/refarch-templates/Chart.yaml
  charts/refarch-templates/README.md
  charts/refarch-templates/templates/serviceMonitor.yaml
  charts/refarch-templates/values-example.yaml
Labels: refarch-templates

remove comment
  charts/refarch-templates/values-example.yaml
Labels: refarch-templates

Update Chart.yaml
  charts/refarch-templates/Chart.yaml
Labels: refarch-templates

Update renovate.json
  renovate.json
Labels: orga

Update renovate.json
  renovate.json
Labels: orga

Update charts/refarch-templates/templates/serviceMonitor.yaml
  charts/refarch-templates/templates/serviceMonitor.yaml
Labels: refarch-templates

Update charts/refarch-templates/README.md
  charts/refarch-templates/README.md
Labels: refarch-templates

add service monitor! (#143)
  charts/refarch-templates/Chart.yaml
  charts/refarch-templates/README.md
  charts/refarch-templates/templates/serviceMonitor.yaml
Labels: refarch-templates

Update values.yaml
  charts/refarch-gateway/values.yaml
Labels: refarch-gateway

Update deployment.yaml
  charts/refarch-gateway/templates/deployment.yaml
Labels: refarch-gateway

Update Chart.yaml
  charts/refarch-gateway/Chart.yaml
Labels: refarch-gateway

Update charts/refarch-gateway/templates/deployment.yaml
  charts/refarch-gateway/templates/deployment.yaml
Labels: refarch-gateway

Update charts/refarch-gateway/values.yaml
  charts/refarch-gateway/values.yaml
Labels: refarch-gateway

Update charts/refarch-gateway/Chart.yaml
  charts/refarch-gateway/Chart.yaml
Labels: refarch-gateway

Update deployment.yaml
  charts/refarch-templates/templates/deployment.yaml
Labels: refarch-templates

Update Chart.yaml
  charts/refarch-templates/Chart.yaml
Labels: refarch-templates

Update values-example.yaml
  charts/refarch-templates/values-example.yaml
Labels: refarch-templates

configure renovate in images (#153)
  charts/refarch-gateway/Chart.yaml
  charts/refarch-gateway/templates/deployment.yaml
  charts/refarch-gateway/values.yaml
Labels: refarch-gateway

push packaged charts to OCI registry / ghcr.io
  .github/workflows/release.yml
  charts/ezldap/Chart.yaml
  charts/java-spring-boot/Chart.yaml
Labels: orga, java-spring-boot, ezldap

.github/labeler.yml:

orga:
- changed-files:
  - any-glob-to-any-file: 
    - '.github/**'
    - 'images/**'
    -  '*'

ad2image:
- changed-files:
  - any-glob-to-any-file: charts/ad2image/**

appswitcher-server:
- changed-files:
  - any-glob-to-any-file: charts/appswitcher-server/**

java-spring-boot:
- changed-files:
  - any-glob-to-any-file: charts/java-spring-boot/**

  
dave:
- changed-files:
  - any-glob-to-any-file: charts/dave/**

ezldap:
- changed-files:
  - any-glob-to-any-file: charts/ezldap/**

kf-app-eai:
- changed-files:
  - any-glob-to-any-file: charts/kf-app-eai/**

pentaho-carte:
- changed-files:
  - any-glob-to-any-file: charts/pentaho-carte/**

wjh-rechner:
- changed-files:
  - any-glob-to-any-file: charts/wjh-rechner/**

zammad-ldap-sync:
- changed-files:
  - any-glob-to-any-file: charts/zammad-ldap-sync/**

refarch-gateway:
- changed-files:
  - any-glob-to-any-file: charts/refarch-gateway/**

refarch-templates:
- changed-files:
  - any-glob-to-any-file: charts/refarch-templates/**

  
sps-sample:
- changed-files:
  - any-glob-to-any-file: charts/sps-sample/**
