Repository it-at-m/helm-charts, changes with the labels that .github/labeler.yml gives for each.
All labels: orga, ad2image, appswitcher-server, java-spring-boot, dave, ezldap, kf-app-eai, pentaho-carte, wjh-rechner, zammad-ldap-sync, refarch-gateway, refarch-templates, sps-sample

.github/labeler.yml:

orga:
- changed-files:
  - any-glob-to-any-file: 
    - '.github/**'
    - 'images/**'
    -  '*'

ad2image:
- changed-files:
  - any-glob-to-any-file: charts/ad2image/**

appswitcher-server:
- changed-files:
  - any-glob-to-any-file: charts/appswitcher-server/**

java-spring-boot:
- changed-files:
  - any-glob-to-any-file: charts/java-spring-boot/**

  
dave:
- changed-files:
  - any-glob-to-any-file: charts/dave/**

ezldap:
- changed-files:
  - any-glob-to-any-file: charts/ezldap/**

kf-app-eai:
- changed-files:
  - any-glob-to-any-file: charts/kf-app-eai/**

pentaho-carte:
- changed-files:
  - any-glob-to-any-file: charts/pentaho-carte/**

wjh-rechner:
- changed-files:
  - any-glob-to-any-file: charts/wjh-rechner/**

zammad-ldap-sync:
- changed-files:
  - any-glob-to-any-file: charts/zammad-ldap-sync/**

refarch-gateway:
- changed-files:
  - any-glob-to-any-file: charts/refarch-gateway/**

refarch-templates:
- changed-files:
  - any-glob-to-any-file: charts/refarch-templates/**

  
sps-sample:
- changed-files:
  - any-glob-to-any-file: charts/sps-sample/**

Potential fix for code scanning alert no. 1: Workflow does not contain permissions
  .github/workflows/ci.yml
Labels: orga

Potential fix for code scanning alert no. 1: Workflow does not contain permissions
  .github/workflows/ci.yml
Labels: orga

chore(refarch-templates): backend comment out jwt aud validation
  charts/refarch-templates/values-example.yaml
Labels: refarch-templates

chore(refarch-templates): bump chart to 1.0.10
  charts/refarch-templates/Chart.yaml
Labels: refarch-templates

chore(docs): document availabilty of charts as OCI artifact in ghcr.io
  README.md
Labels: orga

update chart version
  charts/refarch-templates/Chart.yaml
Labels: refarch-templates

Update Chart.yaml
  charts/refarch-templates/Chart.yaml
Labels: refarch-templates

Update charts/refarch-templates/Chart.yaml
  charts/refarch-templates/Chart.yaml
Labels: refarch-templates

Update renovate.json
  renovate.json
Labels: orga

Update Chart.yaml
  charts/refarch-templates/Chart.yaml
Labels: refarch-templates

renovate: bump chart version on dependency updates, #44 #160
  renovate.json
Labels: orga

renovate: bump chart version on dependency updates, #44 #160
  renovate.json
Labels: orga

renovate: bump chart version on dependency updates, #44 #160
  renovate.json
Labels: orga

Update renovate.json
  renovate.json
Labels: orga

Update renovate.json
  renovate.json
Labels: orga

fix version
  charts/refarch-templates/values-example.yaml
Labels: refarch-templates

Update test-values.yaml
  charts/refarch-templates/ci/test-values.yaml
Labels: refarch-templates

Update test-values.yaml (#163)
  charts/refarch-templates/ci/test-values.yaml
Labels: refarch-templates

add renovate (#154)
  charts/refarch-templates/Chart.yaml
  charts/refarch-templates/ci/test-values.yaml
  charts/refarch-templates/templates/deployment.yaml
  charts/refarch-templates/values-example.yaml
Labels: refarch-templates

default-renovate-config
  renovate.json
Labels: orga

change to github renovate settings
  renovate.json
Labels: orga

Update renovate.json
  renovate.json
Labels: orga

Update renovate.json
  renovate.json
Labels: orga

Update Chart.yaml
  charts/refarch-templates/Chart.yaml
Labels: refarch-templates

chore(refarch-templates): backend comment out jwt aud validation (#158)
  charts/refarch-templates/Chart.yaml
  charts/refarch-templates/values-example.yaml
Labels: refarch-templates

Rename renovate.json to renovate.json5
  renovate.json5
Labels: orga

Update renovate.json5
  renovate.json5
Labels: orga

renovate / helm-values: include non-standard values files (#164)
  renovate.json5
Labels: orga

fix registry
  charts/refarch-templates/templates/imagestream.yml
Labels: refarch-templates

Update Chart.yaml
  charts/refarch-templates/Chart.yaml
Labels: refarch-templates

fix registry in imagestream (#166)
  charts/refarch-templates/Chart.yaml
  charts/refarch-templates/templates/imagestream.yml
Labels: refarch-templates

fix image stream trigger
  charts/refarch-templates/Chart.yaml
  charts/refarch-templates/templates/_helpers.tpl
  charts/refarch-templates/templates/deployment.yaml
  charts/refarch-templates/templates/imagestream.yml
  charts/refarch-templates/values-example.yaml
Labels: refarch-templates

Apply suggestions from code review
  charts/refarch-templates/values-example.yaml
Labels: refarch-templates

Update charts/refarch-templates/templates/imagestream.yml
  charts/refarch-templates/templates/imagestream.yml
Labels: refarch-templates

fix image stream trigger (#167)
  charts/refarch-templates/Chart.yaml
  charts/refarch-templates/templates/_helpers.tpl
  charts/refarch-templates/templates/deployment.yaml
  charts/refarch-templates/templates/imagestream.yml
Labels: refarch-templates

chore: fix logo
  images/logo.png
Labels: orga

chore: fix logo in chart definition
  charts/ad2image/Chart.yaml
  charts/appswitcher-server/Chart.yaml
  charts/dave/Chart.yaml
  charts/dave/charts/admin-portal/Chart.yaml
  charts/dave/charts/backend/Chart.yaml
  charts/dave/charts/eai/Chart.yaml
  charts/dave/charts/frontend/Chart.yaml
  charts/dave/charts/selfservice-portal/Chart.yaml
  charts/ezldap/Chart.yaml
  charts/java-spring-boot/Chart.yaml
  charts/kf-app-eai/Chart.yaml
  charts/pentaho-carte/Chart.yaml
  charts/refarch-gateway/Chart.yaml
  charts/refarch-templates/Chart.yaml
  charts/sps-sample/Chart.yaml
  charts/wjh-rechner/Chart.yaml
  charts/zammad-ldap-sync/Chart.yaml
Labels: ad2image, appswitcher-server, java-spring-boot, dave, ezldap, kf-app-eai, pentaho-carte, wjh-rechner, zammad-ldap-sync, refarch-gateway, refarch-templates, sps-sample

fix: correct indentation in Charts
  charts/ad2image/Chart.yaml
  charts/appswitcher-server/Chart.yaml
  charts/dave/Chart.yaml
  charts/dave/charts/admin-portal/Chart.yaml
  charts/dave/charts/backend/Chart.yaml
  charts/dave/charts/eai/Chart.yaml
  charts/dave/charts/frontend/Chart.yaml
  charts/dave/charts/selfservice-portal/Chart.yaml
  charts/ezldap/Chart.yaml
  charts/java-spring-boot/Chart.yaml
  charts/kf-app-eai/Chart.yaml
  charts/pentaho-carte/Chart.yaml
  charts/refarch-gateway/Chart.yaml
  charts/refarch-templates/Chart.yaml
  charts/sps-sample/Chart.yaml
  charts/wjh-rechner/Chart.yaml
  charts/zammad-ldap-sync/Chart.yaml
Labels: ad2image, appswitcher-server, java-spring-boot, dave, ezldap, kf-app-eai, pentaho-carte, wjh-rechner, zammad-ldap-sync, refarch-gateway, refarch-templates, sps-sample

fix(dave/eai): uncomment icon in Chart.yaml
  charts/dave/charts/eai/Chart.yaml
Labels: dave

chore: bump version for all impacted charts with new icon
  charts/ad2image/Chart.yaml
  charts/appswitcher-server/Chart.yaml
  charts/dave/Chart.yaml
  charts/dave/charts/admin-portal/Chart.yaml
  charts/dave/charts/backend/Chart.yaml
  charts/dave/charts/eai/Chart.yaml
  charts/dave/charts/frontend/Chart.yaml
  charts/dave/charts/selfservice-portal/Chart.yaml
  charts/ezldap/Chart.yaml
  charts/java-spring-boot/Chart.yaml
  charts/kf-app-eai/Chart.yaml
  charts/pentaho-carte/Chart.yaml
  charts/refarch-gateway/Chart.yaml
  charts/refarch-templates/Chart.yaml
  charts/sps-sample/Chart.yaml
  charts/wjh-rechner/Chart.yaml
  charts/zammad-ldap-sync/Chart.yaml
Labels: ad2image, appswitcher-server, java-spring-boot, dave, ezldap, kf-app-eai, pentaho-carte, wjh-rechner, zammad-ldap-sync, refarch-gateway, refarch-templates, sps-sample
