Repository it-at-m/helm-charts, changes with the labels that .github/labeler.yml gives for each.
All labels: orga, ad2image, appswitcher-server, java-spring-boot, dave, ezldap, kf-app-eai, pentaho-carte, wjh-rechner, zammad-ldap-sync, refarch-gateway, refarch-templates, sps-sample

.github/labeler.yml:

orga:
- changed-files:
  - any-glob-to-any-file: 
    - '.github/**'
    - 'images/**'
    -  '*'

ad2image:
- changed-files:
  - any-glob-to-any-file: charts/ad2image/**

appswitcher-server:
- changed-files:
  - any-glob-to-any-file: charts/appswitcher-server/**

java-spring-boot:
- changed-files:
  - any-glob-to-any-file: charts/java-spring-boot/**

  
dave:
- changed-files:
  - any-glob-to-any-file: charts/dave/**

ezldap:
- changed-files:
  - any-glob-to-any-file: charts/ezldap/**

kf-app-eai:
- changed-files:
  - any-glob-to-any-file: charts/kf-app-eai/**

pentaho-carte:
- changed-files:
  - any-glob-to-any-file: charts/pentaho-carte/**

wjh-rechner:
- changed-files:
  - any-glob-to-any-file: charts/wjh-rechner/**

zammad-ldap-sync:
- changed-files:
  - any-glob-to-any-file: charts/zammad-ldap-sync/**

refarch-gateway:
- changed-files:
  - any-glob-to-any-file: charts/refarch-gateway/**

refarch-templates:
- changed-files:
  - any-glob-to-any-file: charts/refarch-templates/**

  
sps-sample:
- changed-files:
  - any-glob-to-any-file: charts/sps-sample/**

feat(pyarch): initial version as copy of refarch-templates
  charts/pyarch/.gitignore
  charts/pyarch/.helmignore
  charts/pyarch/Chart.yaml
  charts/pyarch/README.md
  charts/pyarch/ci/test-values.yaml
  charts/pyarch/templates/_helpers.tpl
  charts/pyarch/templates/applicationsYmlConfigMap.yaml
  charts/pyarch/templates/configmap.yaml
  charts/pyarch/templates/deployment.yaml
  charts/pyarch/templates/hpa.yaml
  charts/pyarch/templates/imagestream.yml
  charts/pyarch/templates/ingress.yaml
  charts/pyarch/templates/secret.yaml
  charts/pyarch/templates/service.yaml
  charts/pyarch/templates/serviceMonitor.yaml
  charts/pyarch/templates/tests/test-connection.yaml
  charts/pyarch/values-example.yaml
  charts/pyarch/values.yaml
Labels: none

docs(refarch-templates): fix install cmd
  charts/refarch-templates/README.md
Labels: refarch-templates

docs(refarch-templates): fix image syntax
  charts/refarch-templates/README.md
Labels: refarch-templates

fix(refarch-templates): ingress path
  charts/refarch-templates/templates/ingress.yaml
Labels: refarch-templates

fix(refarch-templates): auto mount application yml
  charts/refarch-templates/templates/deployment.yaml
Labels: refarch-templates

fix(refarch-templates): ingress wrong service name
  charts/refarch-templates/templates/ingress.yaml
Labels: refarch-templates

chore(refarch-templates): bump chart to 1.0.15
  charts/refarch-templates/Chart.yaml
Labels: refarch-templates

refact(refarch-templates): default for ingress pathType
  charts/refarch-templates/templates/ingress.yaml
Labels: refarch-templates

fix(refarch-templates): add application yml sha to deployment
  charts/refarch-templates/templates/deployment.yaml
Labels: refarch-templates

refact(refarch-templates): deployment rename config to application-yml
  charts/refarch-templates/templates/deployment.yaml
Labels: refarch-templates

fix(refarch-templates): deployment application yml sha if
  charts/refarch-templates/templates/deployment.yaml
Labels: refarch-templates

fix(refarch-templates): zero replicas
  charts/refarch-templates/templates/deployment.yaml
Labels: refarch-templates

chore(refarch-templates): application yml use subpath
  charts/refarch-templates/templates/deployment.yaml
Labels: refarch-templates

fix(refarch-templates): http port required for probes
  charts/refarch-templates/templates/deployment.yaml
Labels: refarch-templates

fix(refarch-templates): http port required for probes
  charts/refarch-templates/templates/deployment.yaml
Labels: refarch-templates

fix(refarch-templates): unify enabled values
  charts/refarch-templates/Chart.yaml
  charts/refarch-templates/README.md
  charts/refarch-templates/templates/image-stream.yml
Labels: refarch-templates

chore(refarch-templates): correct template naming
  charts/refarch-templates/templates/config-map-application-yml.yaml
  charts/refarch-templates/templates/service-monitor.yaml
Labels: refarch-templates

fix(refarch-templates): image stream refactor
  charts/refarch-templates/values.yaml
Labels: refarch-templates

fix(refarch-templates): service monitor namespace
  charts/refarch-templates/templates/service-monitor.yaml
Labels: refarch-templates

fix(refarch-templates): service monitor
  charts/refarch-templates/templates/service-monitor.yaml
Labels: refarch-templates

ci(refarch-templates): fix values
  charts/refarch-templates/ci/test-values.yaml
Labels: refarch-templates

fix(refarch-templates): fix image stream
  charts/refarch-templates/templates/deployment.yaml
  charts/refarch-templates/templates/image-stream.yml
  charts/refarch-templates/values.yaml
Labels: refarch-templates

fix: revert refarch-gateway dependency version to 1.6.1 in refarch-templates
  charts/refarch-templates/Chart.yaml
Labels: refarch-templates

fix: update icon path to use local logo for the charts
  charts/ad2image/Chart.yaml
  charts/appswitcher-server/Chart.yaml
  charts/dave/Chart.yaml
  charts/dave/charts/admin-portal/Chart.yaml
  charts/dave/charts/backend/Chart.yaml
  charts/dave/charts/eai/Chart.yaml
  charts/dave/charts/frontend/Chart.yaml
  charts/dave/charts/selfservice-portal/Chart.yaml
  charts/ezldap/Chart.yaml
  charts/java-spring-boot/Chart.yaml
  charts/kf-app-eai/Chart.yaml
  charts/pentaho-carte/Chart.yaml
  charts/refarch-gateway/Chart.yaml
  charts/refarch-templates/Chart.yaml
  charts/sps-sample/Chart.yaml
  charts/wjh-rechner/Chart.yaml
  charts/zammad-ldap-sync/Chart.yaml
Labels: ad2image, appswitcher-server, java-spring-boot, dave, ezldap, kf-app-eai, pentaho-carte, wjh-rechner, zammad-ldap-sync, refarch-gateway, refarch-templates, sps-sample

fix: use absolute path pointing to hosted main branch for logo
  charts/ad2image/Chart.yaml
  charts/appswitcher-server/Chart.yaml
  charts/dave/Chart.yaml
  charts/dave/charts/admin-portal/Chart.yaml
  charts/dave/charts/backend/Chart.yaml
  charts/dave/charts/eai/Chart.yaml
  charts/dave/charts/frontend/Chart.yaml
  charts/dave/charts/selfservice-portal/Chart.yaml
  charts/ezldap/Chart.yaml
  charts/java-spring-boot/Chart.yaml
  charts/kf-app-eai/Chart.yaml
  charts/pentaho-carte/Chart.yaml
  charts/refarch-gateway/Chart.yaml
  charts/refarch-templates/Chart.yaml
  charts/sps-sample/Chart.yaml
  charts/wjh-rechner/Chart.yaml
  charts/zammad-ldap-sync/Chart.yaml
Labels: ad2image, appswitcher-server, java-spring-boot, dave, ezldap, kf-app-eai, pentaho-carte, wjh-rechner, zammad-ldap-sync, refarch-gateway, refarch-templates, sps-sample

Helm Konfiguration für Ehrenamtjustiz
  charts/ehrenamt-justiz/.gitignore
  charts/ehrenamt-justiz/.helmignore
  charts/ehrenamt-justiz/Chart.yaml
  charts/ehrenamt-justiz/README.md
  charts/ehrenamt-justiz/ci/test-values.yaml
  charts/ehrenamt-justiz/templates/_helpers.tpl
  charts/ehrenamt-justiz/templates/applicationsYmlConfigMap.yaml
  charts/ehrenamt-justiz/templates/configmap.yaml
  charts/ehrenamt-justiz/templates/deployment.yaml
  charts/ehrenamt-justiz/templates/hpa.yaml
  charts/ehrenamt-justiz/templates/imagestream.yml
  charts/ehrenamt-justiz/templates/ingress.yaml
  charts/ehrenamt-justiz/templates/secret.yaml
  charts/ehrenamt-justiz/templates/service.yaml
  charts/ehrenamt-justiz/templates/serviceMonitor.yaml
  charts/ehrenamt-justiz/templates/tests/test-connection.yaml
  charts/ehrenamt-justiz/values-dev.yaml
  charts/ehrenamt-justiz/values.yaml
Labels: none

Helm Konfiguration für Ehrenamtjustiz
  charts/ehrenamt-justiz/Chart.yaml
Labels: none

Helm Konfiguration für Ehrenamtjustiz
  charts/ehrenamt-justiz/Chart.yaml
  charts/ehrenamt-justiz/values-dev.yaml
Labels: none

Helm Konfiguration für Ehrenamtjustiz
  charts/ehrenamt-justiz/.gitignore
  charts/ehrenamt-justiz/Chart.yaml
Labels: none

Helm Konfiguration für Ehrenamtjustiz
  charts/ehrenamt-justiz/templates/route.yaml
  charts/ehrenamt-justiz/values-dev.yaml
Labels: none

Helm Konfiguration für Ehrenamtjustiz
  charts/ehrenamt-justiz/values-dev.yaml
Labels: none

chore(CODEOWNERS): add owners for pyarch chart
  .github/CODEOWNERS
Labels: orga

chore(refarch-templates): bump chart to 1.1.0
  charts/refarch-templates/Chart.yaml
Labels: refarch-templates

Revert "fix(refarch-templates): http port required for probes"
  charts/refarch-templates/templates/deployment.yaml
Labels: refarch-templates

Revert "fix(refarch-templates): http port required for probes"
  charts/refarch-templates/templates/deployment.yaml
Labels: refarch-templates

fix(refarch-templates): volume only if defined
  charts/refarch-templates/templates/deployment.yaml
Labels: refarch-templates

fix(refarch-templates): module ingress, application yml mount and docs (#169)
  charts/refarch-templates/Chart.yaml
  charts/refarch-templates/README.md
  charts/refarch-templates/ci/test-values.yaml
  charts/refarch-templates/templates/config-map-application-yml.yaml
  charts/refarch-templates/templates/deployment.yaml
  charts/refarch-templates/templates/image-stream.yml
  charts/refarch-templates/templates/ingress.yaml
  charts/refarch-templates/templates/service-monitor.yaml
  charts/refarch-templates/values.yaml
Labels: refarch-templates

feat(pyarch): initial version as copy of refarch-templates
  charts/pyarch/.gitignore
  charts/pyarch/.helmignore
  charts/pyarch/Chart.yaml
  charts/pyarch/README.md
  charts/pyarch/ci/test-values.yaml
  charts/pyarch/templates/_helpers.tpl
  charts/pyarch/templates/applicationsYmlConfigMap.yaml
  charts/pyarch/templates/configmap.yaml
  charts/pyarch/templates/deployment.yaml
  charts/pyarch/templates/hpa.yaml
  charts/pyarch/templates/imagestream.yml
  charts/pyarch/templates/ingress.yaml
  charts/pyarch/templates/secret.yaml
  charts/pyarch/templates/service.yaml
  charts/pyarch/templates/serviceMonitor.yaml
  charts/pyarch/templates/tests/test-connection.yaml
  charts/pyarch/values-example.yaml
  charts/pyarch/values.yaml
Labels: none

chore(CODEOWNERS): add owners for pyarch chart
  .github/CODEOWNERS
Labels: orga

chore(pyarch): update from 'upstream' refarch-templates
  charts/pyarch/Chart.yaml
  charts/pyarch/README.md
  charts/pyarch/ci/test-values.yaml
  charts/pyarch/templates/config-map-application-yml.yaml
  charts/pyarch/templates/deployment.yaml
  charts/pyarch/templates/image-stream.yml
  charts/pyarch/templates/ingress.yaml
  charts/pyarch/templates/service-monitor.yaml
  charts/pyarch/values.yaml
Labels: none
