Repository it-at-m/helm-charts, changes with the labels that .github/labeler.yml gives for each.
All labels: orga, ad2image, appswitcher-server, java-spring-boot, dave, ezldap, kf-app-eai, pentaho-carte, wjh-rechner, zammad-ldap-sync, refarch-gateway, refarch-templates, sps-sample

add ingress labels
  charts/refarch-gateway/templates/ingress.yaml
Labels: refarch-gateway

Update Chart.yaml
  charts/refarch-gateway/Chart.yaml
Labels: refarch-gateway

Create cr.yaml
  cr.yaml
Labels: orga

add config
  .github/workflows/release.yml
Labels: orga

Update .github/workflows/release.yml
  .github/workflows/release.yml
Labels: orga

add label
  charts/refarch-gateway/values.yaml
Labels: refarch-gateway

Update values.yaml
  charts/refarch-gateway/values.yaml
Labels: refarch-gateway

add comment
  charts/refarch-gateway/values.yaml
Labels: refarch-gateway

Apply suggestion from @coderabbitai[bot]
  charts/refarch-gateway/values.yaml
Labels: refarch-gateway

Apply suggestion from @hupling
  charts/refarch-gateway/values.yaml
Labels: refarch-gateway

Apply suggestion from @hupling removae whitespace
  charts/refarch-gateway/values.yaml
Labels: refarch-gateway

add ingress labels for the new cluster (#173)
  charts/refarch-gateway/Chart.yaml
  charts/refarch-gateway/templates/ingress.yaml
  charts/refarch-gateway/values.yaml
Labels: refarch-gateway

Update Chart.yaml
  charts/refarch-templates/Chart.yaml
Labels: refarch-templates

Update values-example.yaml
  charts/refarch-templates/values-example.yaml
Labels: refarch-templates

add label in example
  charts/refarch-templates/values-example.yaml
Labels: refarch-templates

159 add autogenerated release notes (#174)
  .github/workflows/release.yml
  cr.yaml
Labels: orga

remove user banzuu (404) from maintainers list of chart sps-sample
  charts/sps-sample/Chart.yaml
Labels: sps-sample

bump refarch-gateway
  charts/refarch-gateway/Chart.yaml
Labels: refarch-gateway

chore: fix logo (#168)
  charts/ad2image/Chart.yaml
  charts/appswitcher-server/Chart.yaml
  charts/dave/Chart.yaml
  charts/dave/charts/admin-portal/Chart.yaml
  charts/dave/charts/backend/Chart.yaml
  charts/dave/charts/eai/Chart.yaml
  charts/dave/charts/frontend/Chart.yaml
  charts/dave/charts/selfservice-portal/Chart.yaml
  charts/ezldap/Chart.yaml
  charts/java-spring-boot/Chart.yaml
  charts/kf-app-eai/Chart.yaml
  charts/pentaho-carte/Chart.yaml
  charts/refarch-gateway/Chart.yaml
  charts/refarch-templates/Chart.yaml
  charts/sps-sample/Chart.yaml
  charts/wjh-rechner/Chart.yaml
  charts/zammad-ldap-sync/Chart.yaml
  images/logo.png
Labels: orga, ad2image, appswitcher-server, java-spring-boot, dave, ezldap, kf-app-eai, pentaho-carte, wjh-rechner, zammad-ldap-sync, refarch-gateway, refarch-templates, sps-sample

Update ad2image appVersion to 1.1.1 and fix documentation
  charts/ad2image/Chart.yaml
  charts/ad2image/README.md
Labels: ad2image

Update ad2image appVersion to 1.1.1 and fix documentation (#178)
  charts/ad2image/Chart.yaml
  charts/ad2image/README.md
Labels: ad2image

Bump appVersion to 1.2.0 and add configuration value to configure defaultMode
  charts/ad2image/Chart.yaml
  charts/ad2image/README.md
  charts/ad2image/templates/configmap.yaml
  charts/ad2image/values.yaml
Labels: ad2image

Bump appVersion to 1.2.0 and add configuration value to configure defaultMode (#179)
  charts/ad2image/Chart.yaml
  charts/ad2image/README.md
  charts/ad2image/templates/configmap.yaml
  charts/ad2image/values.yaml
Labels: ad2image

WIP: introduce a common library chart
  charts/ad2image/Chart.yaml
  charts/ad2image/ci/test-values.yaml
  charts/ad2image/templates/route.yaml
  charts/common/.helmignore
  charts/common/Chart.yaml
  charts/common/templates/_helpers.tpl
  charts/common/templates/_route.yaml
Labels: ad2image

chore(conf): dont mark latest release as this repo contains multiple charts
  cr.yaml
Labels: orga

use helpers from common
  charts/ad2image/Chart.yaml
  charts/ad2image/templates/NOTES.txt
  charts/ad2image/templates/_helpers.tpl
  charts/ad2image/templates/configmap.yaml
  charts/ad2image/templates/deployment.yaml
  charts/ad2image/templates/hpa.yaml
  charts/ad2image/templates/ingress.yaml
  charts/ad2image/templates/secrets.yaml
  charts/ad2image/templates/service.yaml
  charts/ad2image/templates/serviceaccount.yaml
  charts/ad2image/templates/tests/test-connection.yaml
  charts/common/Chart.yaml
Labels: ad2image

dont lint and test common chart (library)
  .github/workflows/ci.yml
Labels: orga

fix test-values.yaml
  charts/ad2image/ci/test-values.yaml
Labels: ad2image

try to lint common
  .github/workflows/ci.yml
  charts/common/templates/_route.yaml
  charts/common/values.yaml
Labels: orga

try to lint common
  charts/common/values.yaml
Labels: none

kind-cluster is not openshift
  charts/ad2image/ci/test-values.yaml
Labels: ad2image

Add docs
  charts/common/README.md
Labels: none

Update CONTRIBUTING.md
  CONTRIBUTING.md
Labels: orga

adapt _route.yaml to support single and multiple routes
  charts/ad2image/Chart.yaml
  charts/ad2image/README.md
  charts/ad2image/templates/route.yaml
  charts/ad2image/values.yaml
  charts/common/templates/_route.yaml
  charts/java-spring-boot/Chart.yaml
  charts/java-spring-boot/templates/routes.yaml
Labels: ad2image, java-spring-boot

fix lint
  charts/java-spring-boot/Chart.yaml
Labels: java-spring-boot

update CODEOWNERS
  .github/CODEOWNERS
Labels: orga

Update charts/ad2image/README.md
  charts/ad2image/README.md
Labels: ad2image

coderabbit suggestions 1/2
  charts/ad2image/README.md
  charts/ad2image/templates/configmap.yaml
  charts/ad2image/templates/secrets.yaml
  charts/ad2image/values.yaml
  charts/appswitcher-server/README.md
  charts/appswitcher-server/templates/configmap.yaml
  charts/appswitcher-server/templates/deployment.yaml
  charts/appswitcher-server/templates/secrets.yaml
  charts/appswitcher-server/values.yaml
  charts/common/Chart.yaml
  charts/common/README.md
  charts/common/templates/_image.yaml
  charts/common/templates/_ingress.yaml
Labels: ad2image, appswitcher-server

coderabbit suggestions 2/2
  charts/ad2image/README.md
  charts/ad2image/templates/secrets.yaml
  charts/appswitcher-server/templates/secrets.yaml
  charts/common/templates/_service.yaml
Labels: ad2image, appswitcher-server

Apply suggestions from code review
  charts/ad2image/README.md
  charts/common/templates/_service.yaml
Labels: ad2image

.github/labeler.yml:

orga:
- changed-files:
  - any-glob-to-any-file: 
    - '.github/**'
    - 'images/**'
    -  '*'

ad2image:
- changed-files:
  - any-glob-to-any-file: charts/ad2image/**

appswitcher-server:
- changed-files:
  - any-glob-to-any-file: charts/appswitcher-server/**

java-spring-boot:
- changed-files:
  - any-glob-to-any-file: charts/java-spring-boot/**

  
dave:
- changed-files:
  - any-glob-to-any-file: charts/dave/**

ezldap:
- changed-files:
  - any-glob-to-any-file: charts/ezldap/**

kf-app-eai:
- changed-files:
  - any-glob-to-any-file: charts/kf-app-eai/**

pentaho-carte:
- changed-files:
  - any-glob-to-any-file: charts/pentaho-carte/**

wjh-rechner:
- changed-files:
  - any-glob-to-any-file: charts/wjh-rechner/**

zammad-ldap-sync:
- changed-files:
  - any-glob-to-any-file: charts/zammad-ldap-sync/**

refarch-gateway:
- changed-files:
  - any-glob-to-any-file: charts/refarch-gateway/**

refarch-templates:
- changed-files:
  - any-glob-to-any-file: charts/refarch-templates/**

  
sps-sample:
- changed-files:
  - any-glob-to-any-file: charts/sps-sample/**
