Repository it-at-m/helm-charts, pull requests merged in 2025-07, with the labels that each got.

#148 feat(refarch-gateway): add service monitor
  charts/refarch-gateway/Chart.yaml
  charts/refarch-gateway/templates/service-monitor.yaml
  charts/refarch-gateway/values.yaml
Labels: refarch-gateway

#152 update renovate config
  renovate.json
Labels: orga

#143 add service monitor!
  charts/refarch-templates/Chart.yaml
  charts/refarch-templates/README.md
  charts/refarch-templates/templates/serviceMonitor.yaml
Labels: refarch-templates

#153 configure renovate
  charts/refarch-gateway/Chart.yaml
  charts/refarch-gateway/templates/deployment.yaml
  charts/refarch-gateway/values.yaml
Labels: refarch-gateway

#163 Update test-values.yaml
  charts/refarch-templates/ci/test-values.yaml
Labels: refarch-templates

#154 add renovate
  charts/refarch-templates/Chart.yaml
  charts/refarch-templates/ci/test-values.yaml
  charts/refarch-templates/templates/deployment.yaml
  charts/refarch-templates/values-example.yaml
Labels: refarch-templates

#158 chore(refarch-templates): backend comment out jwt aud validation
  charts/refarch-templates/Chart.yaml
  charts/refarch-templates/values-example.yaml
Labels: refarch-templates

#164 default-renovate-config
  renovate.json5
Labels: orga

#166 fix registry in imagestream
  charts/refarch-templates/Chart.yaml
  charts/refarch-templates/templates/imagestream.yml
Labels: refarch-templates

#167 fix image stream trigger
  charts/refarch-templates/Chart.yaml
  charts/refarch-templates/templates/_helpers.tpl
  charts/refarch-templates/templates/deployment.yaml
  charts/refarch-templates/templates/imagestream.yml
Labels: refarch-templates
