Repository it-at-m/helm-charts, pull requests merged in 2025-06, with the labels that each got.

#145 DAVE add email property
  charts/dave/Chart.yaml
  charts/dave/ci/test-values.yaml
  charts/dave/values.yaml
Labels: dave

#129 fix sample
  charts/refarch-templates/Chart.yaml
  charts/refarch-templates/values-example.yaml
Labels: refarch-templates

#130 93 auto rollout for dev environment
  charts/refarch-templates/Chart.yaml
  charts/refarch-templates/README.md
  charts/refarch-templates/templates/_helpers.tpl
  charts/refarch-templates/templates/deployment.yaml
  charts/refarch-templates/templates/imagestream.yml
Labels: refarch-templates

#147 chore(refarch-gateway): rm gc max metaspace size
  charts/refarch-gateway/Chart.yaml
  charts/refarch-gateway/values.yaml
Labels: refarch-gateway
